[submodule "include/vectorclass"]
	path = include/vectorclass
	url = https://github.com/vectorclass/version2.git
[submodule "thirdparty/tuple_arithmetic"]
	path = thirdparty/tuple_arithmetic
	url = https://github.com/Sauron-1/tuple_arithmetic.git
[submodule "thirdparty/picinterp"]
	path = thirdparty/picinterp
	url = https://github.com/Sauron-1/picinterp.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
